/* text properties */
p{
    color: rgb(73, 174, 174);
    text-indent: 20px;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: dotted;
    text-transform: uppercase;
}
h1{
    text-align: center;
    text-shadow: 10px 10px 5px gold;
}


/* Font Properties */
span{
    font-size: 30px;
    font-style: italic;
    font-family: monospace;
    font-variant: small-caps;
    font-weight: 500px;
}

/* Background Properties */
section{
    height: 90vh;
    width: 100%;
    /* background-color: aquamarine; */
     background: url("/CSS/day2/IMG_20230120_094544.jpg");
     background-size: cover;
     background-position: center;
    background-attachment: fixed;
    background: linear-gradient(red, blue, black);
    

}